/* ALMOST WHITE */
.sectionright {
  position: relative;
  background-color: #262923;
  overflow: hidden;
  width: 100%;
  height: 135px;
  /* adjustable height */
  transform: skewY(-4deg);
  /* adjustable angle */
  transform-origin: top left;
}

/* TRUE WHITE */
.sectionrightwhite {
  position: relative;
  background-color: #f1f5f9;
  overflow: hidden;
  width: 100%;
  height: 135px;
  /* adjustable height */
  transform: skewY(-4deg);
  /* adjustable angle */
  transform-origin: top left;
}


.sectionleft {
  position: relative;
  background-color: #fca04f;
  overflow: hidden;
  width: 100%;
  height: 108px;
  /* adjustable height */
  transform: skewY(4deg);
  /* adjustable angle */
  transform-origin: top right;
}

.sectionleftwhite {
  position: relative;
  background-color: #f1f5f9;
  overflow: hidden;
  width: 100%;
  height: 108px;
  /* adjustable height */
  transform: skewY(4deg);
  /* adjustable angle */
  transform-origin: top right;
}

.ccontent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skewY(5deg);
  /* Ajuste o ângulo de inclinação oposto para corrigir o conteúdo */
  text-align: center;
  z-index: 2;
}